<div class="container">
    <div class="row">
        <div class="col-md-0"></div>
        <div class="col-md-8 mt-3">
            <div >
                <div class="jumbotron jumbotron-fluid">
                    <div class="container">
                      <h1 class="display-4" style="text-align: center; font-weight: bold;">Subquery List</h1>
                      <ul class="list-group">
                        <li *ngFor="let s of subquery" class="list-group-item">
                            <a routerLink ="/view-subquery/{{ s.id }}"(click)="goToSubquery(s.id)">{{ s.name }}</a>
                        </li>
                      </ul>
                     
                    </div>
                  </div>   
            </div>
        </div>
        <div class="col-md-4 mt-2">
            <app-side-bar></app-side-bar>
            <app-subquery-side-bar></app-subquery-side-bar>
        </div>
    </div>
</div>

