<div class="container">
    <div class="row">
      <div class="col-md-0"></div>
        <mat-card class="col-md-8 main mt-5">
          <div class="row justify-content-center" >
            <form 
            (ngSubmit)="createSubquery()"
            class="example-form">
              <h1 style="text-align: center;">Create SubQuery Page</h1>

              <mat-form-field class="example-full-width form-group">
                <mat-label>Subquery Name</mat-label>

                <input type="text" matInput [formControl]="subqueryFormControl" [errorStateMatcher]="matcher"
                       placeholder="Name">
                       
                <mat-error *ngIf="subqueryFormControl.hasError('required')">
                  subquery name is <strong>required</strong>
                </mat-error>
              </mat-form-field>
          

              <mat-form-field class="example-full-width form-group">
                <mat-label>Description</mat-label>
                <input type="text" matInput [formControl]="descFormControl" [errorStateMatcher]="matcher"
                       placeholder="Subquery Description">
                <mat-error *ngIf="descFormControl.hasError('password') && !descFormControl.hasError('required')">
                        Please enter a  Description
                </mat-error>
                <mat-error *ngIf="descFormControl.hasError('required')">
                    Description is <strong>required</strong>
                </mat-error>
              </mat-form-field>
          
              <div class="example-button-row" class="demo">
                <button type="submit" mat-raised-button color="primary" class="justify-content-center d-flex align-items-center" >Create</button>
              </div>
              <br>
              <a class="demo"  routerLink="/home">Back</a>
        
            </form>
          </div>
        </mat-card>
      <div class="col-md-4 mt-5">
        <app-post-sidebar-two></app-post-sidebar-two>
        <app-subquery-side-bar></app-subquery-side-bar>
      </div>
    </div>
</div>