<mat-card class="sidebar">
    <div style="height: 60%;">
        <mdb-card style="background-image: url('https://mdbootstrap.com/img/Photos/Others/gradient1.jpg')">
            <div class="text-white text-center py-2 px-4 my-5">
              <div>
                <h2 class="card-title h1-responsive pt-3 mb-3 font-bold"><strong>Keep information up to date
                </strong></h2>

                <h3 class="card-title h1-responsive pt-1 mb-2 font-bold"><strong>Add more context over time and use voting to show new content.

                </strong></h3>

                <h3 class="card-title h1-responsive pt-1 mb-2 font-bold"><strong>Get instant access to expert knowledge
                </strong></h3>

                
                
              </div>
            </div>
          </mdb-card>
    </div>
</mat-card>